
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F4F2EE; 
    color: #594541; 
    font-family: Arial, sans-serif;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 90;
    border-bottom: 1px solid #594541; 
}

header .ButtonLogo {
    position: relative;
    font-size: 2em;
    color: #594541;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 1000;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #594541; 
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 1000;
    margin-left: 30px;
}

.navigation a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
<<<<<<< HEAD
    background: #007bff; 
=======
    background: #38761D; 
>>>>>>> 2bacbb1964585033ee4937ec74f057ea86518b58
    left: 0;
    bottom: -5px;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.navigation .ButtonLogin {
    width: 130px;
    height: 50px;
    background: transparent;
<<<<<<< HEAD
    border: 2px solid #007bff;
=======
    border: 2px solid #38761D;
>>>>>>> 2bacbb1964585033ee4937ec74f057ea86518b58
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
<<<<<<< HEAD
    color: #007bff; 
=======
    color: #38761D; 
>>>>>>> 2bacbb1964585033ee4937ec74f057ea86518b58
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
}

.navigation .ButtonLogin:hover {
<<<<<<< HEAD
    background: #007bff; 
=======
    background: #38761D; 
>>>>>>> 2bacbb1964585033ee4937ec74f057ea86518b58
    color: #FFFFFF; 
    transition: 0.5s;
}


.wrapper {
    width: 420px;
    background: #FFFFFF; 
    border: 1px solid #E0E0E0; 
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: #594541; 
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: #F7F7F7; 
    border: none;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 40px;
    font-size: 16px;
    color: #594541; 
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #A9A9A9; 
}

.input-box ion-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #594541; 
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
<<<<<<< HEAD
    accent-color: #007bff; 
=======
    accent-color: #38761D; 
>>>>>>> 2bacbb1964585033ee4937ec74f057ea86518b58
    margin-right: 8px;
}

.remember-forgot a {
<<<<<<< HEAD
    color: #007bff; 
=======
    color: #38761D; 
>>>>>>> 2bacbb1964585033ee4937ec74f057ea86518b58
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}


.wrapper .btnregister,
.wrapper .btnlogin,
.wrapper .btnreset {
    width: 100%;
    height: 50px;
<<<<<<< HEAD
    background: #007bff; 
=======
    background: #38761D; 
>>>>>>> 2bacbb1964585033ee4937ec74f057ea86518b58
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #FFFFFF; 
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
<<<<<<< HEAD
    color: #007bff; 
=======
    color: #38761D; 
>>>>>>> 2bacbb1964585033ee4937ec74f057ea86518b58
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.wrapper .home {
    display: inline-block;
    padding: 10px 25px;
    background-color: transparent;
<<<<<<< HEAD
    border: 2px solid #007bff; 
    border-radius: 6px;
    color: #007bff; 
=======
    border: 2px solid #38761D; 
    border-radius: 6px;
    color: #38761D; 
>>>>>>> 2bacbb1964585033ee4937ec74f057ea86518b58
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.wrapper .home:hover {
<<<<<<< HEAD
    background-color: #007bff; 
    color: #FFFFFF; 
    border-color: #007bff;
=======
    background-color: #38761D; 
    color: #FFFFFF; 
    border-color: #38761D;
>>>>>>> 2bacbb1964585033ee4937ec74f057ea86518b58
}